<style type="text/css">
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5 {
  text-transform: none; }

.reveal h1 {
  font-size: 1.7em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }


.reveal h6 {
		text-align: left;
        text-transform: none;
        font-weight: 400;
}
</style>
